.experience{

    padding:120px 8%;
    background:#000;

}

.experience h2{

    text-align:center;
    font-size:45px;
    margin-bottom:50px;

}

.timeline{

    display:flex;
    flex-direction:column;
    gap:25px;

}

.item{

    background:#1d1d1d;
    padding:25px;
    border-radius:15px;

}

.item span{

    color:#999;

}

.item p{

    color:#bdbdbd;
    margin-top:10px;

}