.about{

    width:100%;

    padding:120px 8%;

    background:#000;

    text-align:center;

}

.about h2{

    font-size:45px;

    margin-bottom:20px;

}

.about-text{

    max-width:900px;

    margin:auto;

    color:#bdbdbd;

    line-height:30px;

    font-size:18px;

}

.about h3{

    margin-top:60px;

    margin-bottom:40px;

    font-size:30px;

}

.cards{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.card{

    width:280px;

    background:#1c1c1c;

    border-radius:15px;

    padding:30px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

    background:#2c2c2c;

}

.card span{

    display:inline-block;

    background:#444;

    padding:8px 15px;

    border-radius:8px;

    margin-bottom:20px;

    font-weight:bold;

}

.card h4{

    margin-bottom:15px;

    font-size:22px;

}

.card p{

    color:#bdbdbd;

    line-height:25px;

}

.numbers{

    display:flex;

    justify-content:center;

    gap:80px;

    margin-top:70px;

    flex-wrap:wrap;

}

.numbers h2{

    font-size:45px;

}

.numbers p{

    color:#bdbdbd;

    margin-top:10px;

}